public void run() {
    boolean run = true;
    while (run) {

        if (dataQueue == null) System.out.println("DataQueue vide !");
        if (robot == null) System.out.println("Robot vide !");

        dataQueue.clear();
        #TMPQUEUE#

        try {
            Thread.sleep((long)sleep);
        } catch (Exception ex) {
            Thread.currentThread().interrupt();
            run = false;
        }

    }
}