public void run() {
    ActuatorCommand ac = new ActuatorCommand(lr);
    while (true) {
        try {
            ac.perform((MessageData) this.commandQueue.take());
        } catch (InterruptedException e) {
            e.printStackTrace();
        }
    }
}