public void run() {
    while (true) {
        if (dataQueue == null)
            System.out.println("DataQueue vide !");

        if (robot == null) {
            System.out.println("Robot vide !");
        }

        dataQueue.clear();
        #TMPQUEUE#
        try {
            Thread.sleep((long)sleep);
        } catch (Exception e) {
            e.printStackTrace();
        }
    }
}