public void run() {
    RobotActuatorCommand rac = null;
    while (true) {
        try {
            rac = this.commandQueue.take();
            rac.performOn(lr);
        } catch (InterruptedException e) {
            e.printStackTrace();
        }
    }
}