public void run() {
    while (true) {
        dataQueue.clear();
        #TMPQUEUE#
        try {
            Thread.sleep((long)100);
        } catch (InterruptedException e) {
            e.printStackTrace();
        }
    }
}